#title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 800%;
    color: aqua;
    text-shadow: 7px 7px rgb(0, 0, 0);
}

.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body{
    background: linear-gradient(rgb(0, 17, 255), rgb(129, 61, 255));
    background-repeat: no-repeat;
    background-size: 100% 500%;
}

.icon{
    display: inline-block;
    text-align: center;
}

@font-face {
    font-family: Blaka;
    src: url(./Blaka-Regular.ttf);
}

@font-face {
    font-family: Pixel;
    src: url(./PressStart2P-Regular.ttf);
}